@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-osans;
}

.su_container.tnc,
.su_container.premi-calculation,
.su_container.faq,
.su_container.testimonies,
.su_container.notcovered,
.su_container otherproduct   {
  content-visibility: auto;
  contain-intrinsic-size: 700px;
}